<!DOCTYPE html>
<html>
  <head>
    <title>用户信息</title>
  </head>
  <body>
    <h1>用户信息</h1>
    <ul>
      <li>用户名: {{username}}</li>
      <li>年龄: {{age}}</li>
      <li>UID: {{id}}</li>
      <li>email: {{email}}</li>
    </ul>
  </body>
</html>